<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2></a
      >
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <img
            class="img-fluid"
            [src]="
              coreConfig.layout.skin === 'dark'
                ? 'assets/images/pages/register-v2-dark.svg'
                : 'assets/images/pages/register-v2.svg'
            "
            alt="Register V2"
          />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Register-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="card-title font-weight-bold mb-1">Register</h2>
          <!-- <p class="card-text mb-2">Make your app management easy and fun!</p> -->
          <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="register-first-name" class="form-label">First Name</label>
              <input
                type="text"
                formControlName="first_name"
                class="form-control"
                placeholder="First Name"
                aria-describedby="register-first-name"
                tabindex="2"
                [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
              />
              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                <div *ngIf="f.first_name.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="register-last-name" class="form-label">Last Name</label>
              <input
                type="text"
                formControlName="last_name"
                class="form-control"
                placeholder="Last Name"
                aria-describedby="register-last-name"
                tabindex="3"
                [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"
              />
              <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                <div *ngIf="f.last_name.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="register-email" class="form-label">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="john@example.com"
                aria-describedby="register-email"
                tabindex="4"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="register-password" class="form-label">Password</label>
  
              <div class="input-group input-group-merge form-password-toggle">
                <input
                  [type]="passwordTextType ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control form-control-merge"
                  placeholder="············"
                  aria-describedby="register-password"
                  tabindex="5"
                  [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }"
                      (click)="togglePasswordTextType()"
                    ></i
                  ></span>
                </div>
              </div>
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.password.errors }"
              >
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be a min 6 Character</div>
              </div>
            </div>

            <div class="form-group">
              <label for="register-password" class="form-label">Confirm Password</label>
  
              <div class="input-group input-group-merge form-password-toggle">
                <input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  formControlName="confirm_password"
                  class="form-control form-control-merge"
                  placeholder="············"
                  aria-describedby="register-password"
                  tabindex="5"
                  [ngClass]="{ 'is-invalid error': submitted && f.confirm_password.errors }"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': showConfirmPassword,
                        'icon-eye': !showConfirmPassword
                      }"
                      (click)="toggleConfirmPassword()"
                    ></i
                  ></span>
                </div>
              </div>
              <div
                *ngIf="submitted && f.confirm_password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.confirm_password.errors }"
              >
                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirm_password.errors.mustMatch">Password and Confirm Passwords must match</div>
              </div>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="6" />
                <label class="custom-control-label" for="register-privacy-policy">
                  I agree to <a href="javascript:void(0);">privacy policy & terms</a>
                </label>
              </div>
            </div>

            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
              <div class="alert-body">
                <p>{{ error }}</p>
              </div>
            </ngb-alert>

            <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="7" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign up
            </button>
          </form>
          <p class="text-center mt-2">
            <span>Already have an account?</span
            ><a routerLink="/auth/login"><span>&nbsp;Sign in instead</span></a>
          </p>
          <div class="divider my-2">
            <div class="divider-text">or</div>
          </div>
          <div class="auth-footer-btn d-flex justify-content-center">
            <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
            ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
            ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
            ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
          </div>
        </div>
      </div>
      <!-- /Register-->
    </div>
  </div>
  