<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div id="user-profile">
      <!-- profile header -->
      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <span class="cursor-pointer bg-transparent text-white position-absolute upload" (click)="openImageCropper()">
              <i [data-feather]="'camera'" [size]="20"></i>
            </span>
            <!-- <input type="file" #file id="account-upload" hidden accept="image/*" (change)="uploadCoverImage($event)" /> -->
            <img class="card-img-top" [src]="!!userData.cover_image ? userData.cover_image : coverImage" loading="lazy" alt="User Cover Image" />
            <!--/ profile cover photo -->

            <div class="position-relative">
              <!-- profile picture -->
              <div class="profile-img-container d-flex align-items-center">
                <div class="profile-img">
                  <ng-container *ngIf="userData?.profile_image; then avatarImg; else noAvtarImg"></ng-container>
                  <ng-template #avatarImg> 
                    <img [src]="userData?.profile_image" class="rounded img-fluid" alt="Profile Image" />
                  </ng-template>
                  <ng-template #noAvtarImg>
                    <span class="avatar-content bg-secondary">{{userData.first_name.charAt(0)}}{{userData.last_name.charAt(0)}}</span>
                  </ng-template>
                </div>
                <!-- profile title -->
                <div class="profile-title">
                  <h2 class="text-white">{{ userData?.first_name + " " + userData?.last_name}}</h2>
                  <p class="text-white">{{ userData?.company }}</p>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div class="profile-header-nav">
              <!-- navbar -->
              <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                <button class="btn btn-icon navbar-toggler" type="button" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                  (click)="toggleMenu = !toggleMenu" rippleEffect>
                  <i data-feather="align-justify" class="font-medium-5"></i>
                </button>

                <!-- collapse  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleMenu">
                  <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                    <!-- edit button -->
                    <button class="btn btn-primary" rippleEffect [routerLink]="['../account-settings/general']">
                      <i data-feather="edit" class="d-block d-md-none"></i>
                      <span class="font-weight-bold d-none d-md-block">Edit</span>
                    </button>
                  </div>
                </div>
                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
          </div>
        </div>
      </div>
      <!--/ profile header -->

      <!-- profile info section -->
      <section id="profile-info">
        <div class="row">
          <!-- left profile info section -->
          <div class="col-12 order-2 order-lg-1">
            <!-- about -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-75">Email</h5>
                <p class="card-text">
                  {{ userData?.email }}
                </p>
                <div class="mt-2">
                  <h5 class="mb-75">Joined:</h5>
                  <p class="card-text">{{ userData?.joined | date: 'longDate' }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Location:</h5>
                  <p class="card-text">{{ userData?.address }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Mobile Number:</h5>
                  <p class="card-text">{{ userData?.contact_details?.mobile_number ? userData?.contact_details?.mobile_number : 'Not Available' }}</p>
                </div>
              </div>
            </div>
            <!--/ about -->

          </div>
          <!--/ left profile info section -->
        </div>
      </section>
      <!--/ profile info section -->
    </div>
  </div>
</div>