@import '@core/scss/base/pages/page-profile';

.profile-img{
    height: inherit;
    img {
        width: inherit;
    }
}

.card-img-top {
    aspect-ratio: 16/5;
}

.upload{
    right: 2rem;
    bottom: 6rem;
}

// .a{
//     background-color: rgba(0, 0, 0, 0.5);
//     border-radius: 5px;
//     color: #ffffff;
// }


// @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
//     .a {
//       -webkit-backdrop-filter: blur(1px);
//       backdrop-filter: blur(1px);
//       background-color: rgba(42, 42, 42, 0.5);  
//     }
//   }