@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}

.pagination-overflow-auto {
  .card-body {
    overflow: auto;
  }
}

.empty-row {
  text-align: center;
}

select.form-control:not([multiple=multiple]) {
  padding-right: 2rem;
}

.datatable-body-cell-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.show{
  @media only screen and (max-width: 768px) {
    margin: 0 10px;
  }
}

.status{
  @media only screen and (max-width: 768px) {
    margin-left: 5px;
  }
}

.user_type {
  width: max-content;

  @media only screen and (max-width: 768px) {
    width: 100% !important;
    margin-left: 10px;
  }
}