<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

        <div class="card">
            <div class="card-header">
                <h4>All Users List</h4>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-3 col-12">
                        <div class="d-flex justify-content-between align-items-center mb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"><span class="mr-1">Show</span>
                                <select class="form-control show" (change)="limitChange($event)"
                                    [(ngModel)]="filterParams.limit">
                                    <option *ngFor="let data of basicSelectedOption" [value]="data">{{data}}</option>
                                </select>
                                <span class="ml-1">entries</span></label>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="d-flex justify-content-between align-items-center mb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"><span class="mr-1">Status</span>
                                <select class="form-control status" (change)="statusChange($event)">
                                    <option value="">All</option>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="d-flex align-items-center mb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"><span class="mr-1">User Type</span>
                                <select class="form-control user_type" style="width: max-content;" (change)="roleChange($event)">
                                    <option value="">All</option>
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <div class="col-md-3 col-12 d-flex justify-content-md-end mb-1">
                        <div class="d-flex align-items-center justify-content-end pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center"><span class="mr-1">Search </span><input
                                    type="search" placeholder="Search" class="form-control ml-25"
                                    (keyup)="searchTerm$.next($event); filterUpdate($event)"
                                    (search)="searchTerm$.next($event); filterUpdate($event)" /></label>
                        </div>
                    </div>
                </div>

                <ngx-datatable [columnMode]="'force'" [limit]="pageInfo.limit" [rowHeight]="'auto'" [rows]="usersList"
                    [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" class="bootstrap core-bootstrap"
                    [columnMode]="'force'" [externalPaging]="true"
                    [count]="pageInfo?.total" (page)="onPage($event)" [offset]="tableOffSet" [externalSorting]="false"
                    (sort)="sortCallback($event)">
                    <ngx-datatable-column [width]="100" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="status">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="badge badge-pill" [ngClass]="{
                                'badge-light-success': name == 1,
                                'badge-light-danger' : name == 2
                            }">
                                {{name == 1 ? 'Active' : 'Inactive' }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="User Type" prop="user_type">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{!!row.user_type ? (row.user_type == 1 ? 'Admin' : 'User' ) : ''}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions">
                                <a class="mr-1">
                                    <i [data-feather]="'eye'" [size]="18"></i></a>
                                <a class="mr-1 text-primary">
                                    <i [data-feather]="'edit'" [size]="18"> </i>
                                </a>
                                <a class="mr-1 text-danger">
                                    <i [data-feather]="'trash'" [size]="18"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column> -->
                </ngx-datatable>
            </div>

        </div>

    </div>
</div>