@import '@core/scss/angular/libs/datatables.component.scss';

select.form-control:not([multiple=multiple]){
    padding-right: 2rem;
}

app-create-users {
  height: 100%;  
  flex-direction: column;
  display: flex;
}

// Dark Layout
.dark-layout {
    .todo-task-list {
        app-create-users{
        &:not(:first-child) {
          li {
            border-top: 1px solid $theme-dark-border-color !important;
          }
        }
      }
    }
}