<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <div class="card">
            <div class="card-header">
                <h4>Admin Users</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-50">
                        <button class="btn btn-primary" rippleEffect (click)="AddEvent()">
                            <i data-feather="plus" class="mr-0 mr-sm-1"></i><span
                                class="d-none d-sm-inline-block">Create User</span>
                        </button>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Show
                                <select class="form-control mx-25" (change)="limitChange($event)"
                                    [(ngModel)]="filterParams.length">
                                    <option *ngFor="let data of basicSelectedOption" [value]="data">{{data}}</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                                    class="form-control ml-25" (keyup)="searchTerm$.next($event); filterUpdate($event)"
                                    (search)="searchTerm$.next($event); filterUpdate($event)" /></label>
                        </div>
                    </div>
                </div>

                <ngx-datatable [columnMode]="'force'" [limit]="filterParams.length" [rowHeight]="'auto'"
                    [rows]="adminUserList" [headerHeight]="40" [footerHeight]="50" [externalPaging]="true"
                    [count]="pageInfo?.total" (page)="onPage($event)" [offset]="tableOffSet" [externalSorting]="true"
                    (sort)="sortCallback($event)" [scrollbarH]="true" class="bootstrap core-bootstrap">
                    <ngx-datatable-column name="Name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{row.first_name}} {{row.last_name}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="150" name="Email" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column [width]="150" name="Company" prop="company"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions">
                                <a class="mr-1">
                                    <i [data-feather]="'eye'" [size]="18"></i></a>
                                <a class="mr-1 text-primary" (click)="editUser(row._id, row)">
                                    <i [data-feather]="'edit'" [size]="18"> </i>
                                </a>
                                <a class="mr-1 text-danger" (click)="deleteAdmin(row._id)">
                                    <i [data-feather]="'trash'" [size]="18"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

                <core-sidebar class="modal modal-slide-in fade event-sidebar" name="user-create-sidebar"
                    overlayClass="modal-backdrop" hideOnEsc="true">
                    <app-create-users></app-create-users>
                </core-sidebar>

            </div>
        </div>
    </div>
</div>