@import '@core/scss/angular/libs/datatables.component.scss';

.create-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1031;
  box-shadow: none !important;
}

.datatable-scroll {
  width: auto !important;
}

.pagination-overflow-auto {
  .card-body {
    overflow: auto;
  }
}

.empty-row {
  text-align: center;
}

select.form-control:not([multiple=multiple]){
  padding-right: 2rem;
}