<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <section id="basic-horizontal-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                Contact Us List
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="d-flex justify-content-between align-items-center m-1">
                                        <label class="d-flex align-items-center">Show
                                            <select class="form-control mx-25" (change)="limitChange($event)" [(ngModel)]="filterParams.limit">
                                                <option *ngFor="let data of basicSelectedOption" [value]="data">{{data}}</option>
                                            </select>
                                            entries</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 d-flex justify-content-md-end">
                                    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                        <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                                                class="form-control ml-25" (keyup)="searchTerm$.next($event); filterUpdate($event)"
                                                (search)="searchTerm$.next($event); filterUpdate($event)" /></label>
                                    </div>
                                </div>
                
                            </div>
                
                            <ngx-datatable 
                                [columnMode]="'force'" 
                                [limit]="pageInfo.limit"
                                [rowHeight]="'auto'" 
                                [rows]="contactUsList" 
                                [headerHeight]="40"
                                [footerHeight]="50" 
                                [scrollbarH]="true" class="bootstrap core-bootstrap">
                                <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
                                <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
                                <ngx-datatable-column name="Query" prop="query"></ngx-datatable-column>
                                <ngx-datatable-column name="File" prop="image" [width]="50" [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        <div class="d-flex align-items-center">
                                            <img 
                                            class="rounded-circle mr-1"
                                            [src]="byPassSecurity(value)"
                                             alt="Image"
                                             height="32"
                                             width="32">
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <div class="d-flex align-items-center col-actions">
                                            <a class="mr-1" (click)="view(row)">
                                                <i [data-feather]="'eye'" [size]="18"></i></a>
                                            <!-- <a class="mr-1">
                                                <i [data-feather]="'edit'" [size]="18"> </i>
                                            </a>
                                            <a class="mr-1" (click)="deleteAdmin(row._id)" class="text-danger">
                                                <i [data-feather]="'trash'" [size]="18"></i></a> -->
                                        </div>
                                    </ng-template>
                                  </ngx-datatable-column>
                                <ngx-datatable-footer>
                                    <ng-template ngx-datatable-footer-template>
                                        <ng-template [ngIf]="contactUsList?.length > 0">
                                        <ngb-pagination
                                            [maxSize]="paginationConfig.maxSize"
                                            [rotate]="true"
                                            [size]="paginationConfig.size"
                                            [ellipses]="false"
                                            (pageChange)="pageChange($event)" [collectionSize]="pageInfo?.total" [(page)]="pageInfo.page" [pageSize]="pageInfo.limit" aria-label="Custom pagination">
                                            <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                                                    [class]="'font-weight-bolder'"></span>Prev
                                            </ng-template>
                                            <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                                                    [class]="'font-weight-bolder'"></span>
                                            </ng-template>
                                        </ngb-pagination>
                                        </ng-template>
                                    </ng-template>
                                </ngx-datatable-footer>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="create-button" >
    <button type="button" class="btn btn-primary" (click)="create()">
        <i data-feather="plus" class="mr-0 mr-sm-1"></i>Add
    </button>
</div>