@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/angular/libs/select.component.scss';

.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
