<div class="py-2 text-center">
    <h2 class="m-2">Contact Detail</h2>
    <p> Email : <span>{{details?.email}}</span></p>
    <p> Query : <span>{{details?.query}}</span></p>
    <p> Username : <span>{{details?.username}}</span></p>
    <img [src]="details?.image" width="80%" height="80%"/>
</div>