<div class="card">
  <div class="card-body">
    <!-- form -->
    <form class="validate-form" [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">

      <!-- header media -->
      <div class="media mb-2">
        <a href="javascript:void(0);" class="mr-25">
          <ng-container *ngIf="userData?.profile_image || avatarImage; then avatarImg; else noAvtarImg"></ng-container>
          <ng-template #avatarImg>
            <img [src]="avatarImage" class="rounded mr-50" alt="profile image" height="76" width="80" />
          </ng-template>
          <ng-template #noAvtarImg>
            <div class="noProfile rounded mr-50 bg-secondary">
              {{userData?.first_name.charAt(0)}}{{userData?.last_name.charAt(0)}}</div>
          </ng-template>
        </a>
        <!-- upload and reset button -->
        <div class="media-body mt-75 ml-1">
          <button type="button" (click)="openImageCropper()" for="account-upload"
            class="btn btn-sm btn-primary mb-75 mr-75" rippleEffect>
            Upload
          </button>
          <!-- <input type="file" #file id="account-upload" hidden accept="image/*" (change)="uploadImage($event)" /> -->
          <button type="button" (click)="avatarImage = patchProfileImage; resetImage()"
            class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button>
        </div>
        <!--/ upload and reset button -->
      </div>
      <!--/ header media -->

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-username">First Name</label>
            <input type="text" formControlName="first_name" class="form-control" id="firstname" name="firstname"
              placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
              <div *ngIf="f.first_name.errors.required">First Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-name">Last Name</label>
            <input type="text" formControlName="last_name" class="form-control" id="account-name" name="name"
              placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
            <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
              <div *ngIf="f.last_name.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-e-mail">E-mail</label>
            <input type="email" formControlName="email" class="form-control" id="account-e-mail" name="email"
              placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email is not Valid</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-company">Company</label>
            <input type="text" formControlName="company" class="form-control" id="account-company" name="company"
              placeholder="Company name" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
            <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
              <div *ngIf="f.company.errors.required">Company name is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="accountTextarea">Address</label>
            <input ngx-google-places-autocomplete class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
              (onAddressChange)="handleAddressChange($event)" />
            <div *ngIf="submitted && (f.address.errors || f.address.invalid)" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" formGroupName="contact_details">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="country-code">Country</label>
            <select class="form-control" placeholder="Country Code" formControlName="country_code" id="country-code"
              name="country_code" [ngClass]="{ 'is-invalid': submitted && g.country_code.errors }">
              <option *ngFor="let country of countryList" [value]="country?.alpha3Code">{{country?.name}}</option>
            </select>
            <div *ngIf="submitted && g.country_code.errors" class="invalid-feedback">
              <div *ngIf="g.country_code.errors.required">Country Code is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-company">Dial Code</label>
            <input type="number" formControlName="dial_code" class="form-control" id="dial-code" name="company"
              placeholder="Dial Code" name="dial_code" [ngClass]="{ 'is-invalid': submitted && g.dial_code.errors }" />
            <div *ngIf="submitted && g.dial_code.errors" class="invalid-feedback">
              <div *ngIf="g.dial_code.errors.required">Dial Code is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="account-phone">Phone</label>
            <input type="text" formControlName="mobile_number" class="form-control" id="account-phone"
              [attr.placeholder]="phonePlaceholder" name="phone" [mask]="phoneNumberMask"
              [ngClass]="{ 'is-invalid': submitted && g.mobile_number.errors }" />
            <div *ngIf="submitted && g.mobile_number.errors" class="invalid-feedback">
              <div *ngIf="g.mobile_number.errors.required">Phone number is required</div>
              <div *ngIf="g.mobile_number.errors.mask">Phone number is Invalid</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-12">
        <button type="submit" class="btn btn-primary mt-1 mr-1" rippleEffect>Save changes</button>
        <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button>
      </div>
    </form>
    <!--/ form -->
  </div>
</div>