<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="basic-horizontal-layouts">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                About US
                            </h3>
                        </div>
                        <div class="card-body">
                            <button class="btn" (click)="onButtonClick()">Show InnerHtml</button>
                            <editor #editor [(ngModel)]="dataModel" [initialValue]="" style="position:relative;"
                                apiKey="tyvesbpx2qxe0qldqa0ykcfzz94oc44gs33nv8nfznyi42jc" [init]="getInit()"
                                [inline]="false">
                            </editor>
                            <div [innerHtml]="x">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>