<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="model.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <image-cropper 
            [imageFile]="imageChangedEvent" 
            [aspectRatio]="aspectWidth / aspectHeight"
            [imageURL]="coverImageWeb" (imageCropped)="imageCropped($event)" [maintainAspectRatio]="true"
            [roundCropper]="roundCropper" format="png"
            (loadImageFailed)="loadImageFailed()">
        </image-cropper>
    </div>
    <div *ngIf="showError" class="text-danger">
        File not supported
    </div>
    <div class="row justify-content-center">
        <input #fileInput hidden (change)="onFileChanged($event)" type="file" accept="image/x-png,image/bmp,image/jpeg">
        <button (click)="fileInput.click()" class="btn btn-fill-yellow ">
            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">
                <path id="Union_1" data-name="Union 1"
                    d="M-2001,44a2,2,0,0,1-2-2V34a2,2,0,0,1,2-2h1.5l.5-1c.265-.523.448-1,1-1h6c.552,0,.705.418,1,1l.5,1h1.5a2,2,0,0,1,2,2v8a2,2,0,0,1-2,2Zm2-6a4,4,0,0,0,4,4,4,4,0,0,0,4-4,4,4,0,0,0-4-4A4,4,0,0,0-1999,38Zm1,0a3,3,0,0,1,3-3,3,3,0,0,1,3,3,3,3,0,0,1-3,3A3,3,0,0,1-1998,38Z"
                    transform="translate(2003 -30)" fill="#326291" />
            </svg>
            Choose</button>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onCoverImageUpload()" rippleEffect>
        Save
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="model.dismiss()" rippleEffect>
        Cancel
    </button>
</div>