<div class="content-wrapper container-xxl p-0">
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
    <section id="basic-horizontal-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>
                            Dashboard
                        </h3>
                    </div>
                    <div class="card-body">
                        
                        <swiper class="swiper-autoplay swiper-container" [config]="swiperAutoplay">
                            <ng-container *ngIf="sliderList.length > 0; then slider"></ng-container>
                            <ng-template #slider>
                                <ng-container *ngFor="let data of sliderList">
                                    <img class="img-fluid" [src]="data.slider_image" alt="banner" />
                                </ng-container>
                            </ng-template>
                          </swiper>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>