<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">{{!!questionId ? 'Update' : 'Add'}}</h5>
    <button type="button" class="close" (click)="modelDismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="createForm">

        <div class="form-group">
            <label class="form-label">Category</label>
            <select class="form-control" placeholder="Select Category" formControlName="categoryId"
                [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                <option *ngFor="let category of categoryList" [value]="category._id">
                    {{category.name}}
                </option>
            </select>
            <div *ngIf="f.categoryId.errors && submitted" class="invalid-feedback">
                <div *ngIf="f.categoryId.errors.required">Category is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Question</label>
            <input type="text" class="form-control" formControlName="questionText" placeholder="Question" tabindex="2"
                [ngClass]="{'is-invalid': submitted && f.questionText.errors}">
            <div *ngIf="submitted && f.questionText.errors" class="invalid-feedback">
                <div *ngIf="f.questionText.errors.required">Question is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="answerTextarea">Answer</label>
            <textarea formControlName="answer" class="form-control" id="answerTextarea" name="accountTextarea"
              rows="4" placeholder="Answer"
              [ngClass]="{ 'is-invalid': submitted && f.answer.errors }"></textarea>
            <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
              <div *ngIf="f.answer.errors.required">Address is required</div>
            </div>
          </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitData()" rippleEffect>
        {{!!questionId ? 'Update': 'Submit'}}
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modelDismiss()" rippleEffect>
        Cancel
    </button>
</div>