<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">{{!!sliderID ? 'Update' : 'Add'}}</h5>
    <button type="button" class="close" (click)="modelDismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="createSliderForm">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input
            type="text"
            class="form-control"
            formControlName="title"
            tabindex="2"
            [ngClass]="{'is-invalid': submitted && f.title.errors}"
            >
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Image</label>
            <div class="custom-file">
            <input
            #fileInput
            type="file"
            class="custom-file-input"
            tabindex="2"
            (change)="onImagChangeFromFile($event)"
            [ngClass]="{'is-invalid': submitted && f.slider_image.errors}"
            >
            <label class="custom-file-label">
                {{!!uploadFileData?.name ? uploadFileData?.name : 'Choose file'}}
            </label>
            <div *ngIf="submitted && f.slider_image.errors" class="invalid-feedback">
                <div *ngIf="f.slider_image.errors.required">Image is required</div>
            </div>
        </div>
        <div *ngIf="!!imageSrc">
            <img class="preview-img" [src]="imageSrc" alt="Image" (click)="openImageCropper(imageSrc)">
        </div>
        </div>

        <div class="form-group">
            <div>
                <label class="form-label">Status</label>
            </div>
            <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" class="custom-control-input" [ngClass]="{'is-invalid': submitted && f.status.errors}" formControlName="status" id="switch" />
                <label class="custom-control-label" for="switch"></label>
            </div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Staus is required</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitData()" rippleEffect>
        {{!!sliderID ? 'Update': 'Submit'}}
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modelDismiss()" rippleEffect>
        Cancel
    </button>
</div>