<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="card">
            <div class="card-header">
                <h4>FAQ List</h4>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 mb-50">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-50">
                                <button class="btn btn-primary" (click)="addEditQuestion()" rippleEffect>
                                    <i data-feather="plus" class="mr-0 mr-sm-1"></i><span
                                        class="d-none d-sm-inline-block">Add Question</span>
                                </button>
                            </div>
                            <div class="col-md-6 col-12 mb-50">
                                <label>Category</label>
                                <ng-select placeholder="Select Category" [(ngModel)]="selectedCategory" bindLabel="name"
                                    bindValue="_id" [items]="categoryList"
                                    (change)="getQuestionList($event)"></ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <ngx-datatable [rows]="faqList" [columnMode]="'force'" [rowHeight]="'auto'" [headerHeight]="40"
                    [footerHeight]="50" class="bootstrap core-bootstrap" [scrollbarH]="true">
                    <ngx-datatable-column name="Question" prop="questionText"></ngx-datatable-column>
                    <ngx-datatable-column name="Answer" prop="answer"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="status">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" class="custom-control-input" [id]="row._id"
                                    [checked]="value == 1" />
                                <label class="custom-control-label" [for]="row._id"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions"> <a class="mr-1"
                                    (click)="addEditQuestion(row._id)">
                                    <i [data-feather]="'edit'" [size]="18"></i>
                                </a>
                                <a class="mr-1" (click)="deleteQuestion(row._id)" class="text-danger">
                                    <i [data-feather]="'trash'" [size]="18"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>
        </div>
    </div>
</div>