<div class="card">
    <div class="card-body">
        <!-- form -->
        <form class="validate-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="account-old-password">Old Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input formControlName="old_password" [type]="passwordTextTypeOld ? 'text' : 'password'"
                                class="form-control form-control-merge" id="account-old-password" name="password"
                                placeholder="Old Password"
                                [ngClass]="{ 'is-invalid error': submitted && f.old_password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }" (click)="togglePasswordTextTypeOld()"></i></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.old_password.errors }">
                            <div *ngIf="f.old_password.errors.required">Old Password is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="account-new-password">New Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input formControlName="new_password" [type]="passwordTextTypeNew ? 'text' : 'password'"
                                id="account-new-password" name="new-password" class="form-control form-control-merge"
                                placeholder="New Password"
                                [ngClass]="{ 'is-invalid error': submitted && f.new_password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }" (click)="togglePasswordTextTypeNew()"></i></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.new_password.errors }">
                            <div *ngIf="f.new_password.errors.required">New Password is required</div>
                            <div *ngIf="f.new_password.errors.notMatch">Old Password and New Passwords should not be same</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="account-retype-new-password">Confirm New Password</label>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input formControlName="confirm_password"
                                [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                class="form-control form-control-merge" id="account-retype-new-password"
                                name="confirm-new-password" placeholder="Confirm New Password"
                                [ngClass]="{ 'is-invalid error': submitted && f.confirm_password.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }" (click)="togglePasswordTextTypeRetype()"></i></span>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback"
                            [ngClass]="{ 'd-block': submitted && f.confirm_password.errors }">
                            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirm_password.errors.mustMatch">New Password and Confirm New Passwords must match</div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button [disabled]="loading" type="submit" class="btn btn-primary mr-1 mt-1" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save changes</button>
                    <button [disabled]="loading" type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button>
                </div>
            </div>
        </form>
        <!--/ form -->
    </div>
</div>