<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Create</h5>
    <button type="button" class="close" (click)="modelDismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="createContactUsForm">
        <div class="form-group">
            <label class="form-label">Username</label>
            <input
            type="text"
            class="form-control"
            formControlName="username"
            tabindex="1"
            [ngClass]="{'is-invalid': submitted && f.username.errors}"
            >
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Query</label>
            <input
            type="text"
            class="form-control"
            formControlName="query"
            tabindex="2"
            [ngClass]="{'is-invalid': submitted && f.query.errors}"
            >
            <div *ngIf="submitted && f.query.errors" class="invalid-feedback">
                <div *ngIf="f.query.errors.required">Query is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input
            type="text"
            class="form-control"
            formControlName="email"
            tabindex="2"
            [ngClass]="{'is-invalid': submitted && f.email.errors}"
            >
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Image</label>
            <div class="custom-file">
            <input
            #fileInput
            type="file"
            class="custom-file-input"
            tabindex="2"
            (change)="onImagChangeFromFile($event)"
            [ngClass]="{'is-invalid': submitted && f.contactUsImage.errors}"
            >
            <label class="custom-file-label">
                {{!!uploadFileData?.name ? uploadFileData?.name : 'Choose file'}}
            </label>
            <div *ngIf="submitted && f.contactUsImage.errors" class="invalid-feedback">
                <div *ngIf="f.contactUsImage.errors.required">Image is required</div>
            </div>
        </div>
        <div *ngIf="!!imageSrc">
            <img class="preview-img" [src]="imageSrc" alt="Image">
        </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitData()" rippleEffect>
        Submit
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modelDismiss()" rippleEffect>
        Cancel
    </button>
</div>