<div class="modal-dialog sidebar-lg">
    <div class="modal-content p-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleEventSidebar()">
            ×
        </button>
        <div class="modal-header mb-1">
            <h5 class="modal-title">{{ isDataEmpty === true ? 'Add' : 'Update' }} User</h5>
        </div>
        <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" placeholder="First Name"
                        [ngClass]="{'is-invalid': submitted && f.first_name.errors}">
                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required">First Name is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" placeholder="Last Name"
                        [ngClass]="{'is-invalid': submitted && f.last_name.errors}">
                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email"
                        [ngClass]="{'is-invalid': submitted && f.email.errors}">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Company</label>
                    <input type="text" class="form-control" formControlName="company" placeholder="Company"
                        [ngClass]="{'is-invalid': submitted && f.company.errors}">
                    <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                        <div *ngIf="f.company.errors.required">Company is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" formControlName="address" rows="4" placeholder="Address"
                        [ngClass]="{'is-invalid': submitted && f.address.errors}"></textarea>
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required</div>
                    </div>
                </div>

                <div class="form-group elect2-primary">
                    <label class="form-label" for="user-type">User Type</label>
                    <ng-select [items]="roles" placeholder="Role" [clearable]="false" bindLabel="name" bindValue="value"
                        formControlName='user_type' aria-describedby="user-type"
                        [ngClass]="{'is-invalid error': submitted && f.user_type.errors}"></ng-select>
                    <div *ngIf="submitted && f.user_type.errors" class="invalid-feedback"
                        [ngClass]="{ 'd-block': submitted && f.user_type.errors }">
                        <div *ngIf="f.user_type.errors.required">User Type is required</div>
                    </div>
                </div>

                <div class="form-group" *ngIf="isDataEmpty">
                    <label for="account-password">Password</label>
                    <div class="input-group input-group-merge form-password-toggle">
                        <input formControlName="password" [type]="passwordTextType ? 'text' : 'password'"
                            id="account-password" name="password" class="form-control form-control-merge"
                            placeholder="Password" [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" />
                        <div class="input-group-append">
                            <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextType,
                                      'icon-eye': !passwordTextType
                                    }" (click)="togglePasswordTextType()"></i></span>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                        [ngClass]="{ 'd-block': submitted && f.password.errors }">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>

                <div class="form-group" *ngIf="isDataEmpty">
                    <label for="account-confirm-password">Confirm Password</label>
                    <div class="input-group input-group-merge form-password-toggle">
                        <input formControlName="confirm_password" [type]="confirmPasswordTextType ? 'text' : 'password'"
                            id="account-confirm-password" name="confirm-password"
                            class="form-control form-control-merge" placeholder="Confirm Password"
                            [ngClass]="{ 'is-invalid error': submitted && f.confirm_password.errors }" />
                        <div class="input-group-append">
                            <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                  'icon-eye-off': confirmPasswordTextType,
                                  'icon-eye': !confirmPasswordTextType
                                }" (click)="toggleConfirmPasswordTextType()"></i></span>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback"
                        [ngClass]="{ 'd-block': submitted && f.confirm_password.errors }">
                        <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirm_password.errors.mustMatch">Password and Confirm Passwords should be same
                        </div>
                    </div>
                </div>

                <div class="form-group d-flex">
                    <button type="submit" (click)="submit()" class="btn btn-success mr-1" rippleEffect>
                        {{isDataEmpty ? 'Submit': 'Update'}}
                    </button>
                    <button type="button" (click)="toggleEventSidebar()" class="btn btn-outline-secondary btn-cancel"
                        rippleEffect>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>