<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left" [(activeId)]="activeTab">
            <!-- General Page -->
            <li class="nav-item" ngbNavItem="general">
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" [routerLink]="['general']" data-toggle="pill"
                href="#account-vertical-general" aria-expanded="false">
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">General</span>
              </a>
              <ng-template ngbNavContent>
                <app-general (currentTab)="activeBreadcrumb($event)"></app-general>
              </ng-template>
            </li>

            <!-- Change Password Page -->
            <li class="nav-item" ngbNavItem="change-password">
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-password" [routerLink]="['change-password']" data-toggle="pill"
                href="#account-vertical-password" aria-expanded="false">
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <app-change-password (currentTab)="activeBreadcrumb($event)"></app-change-password>
              </ng-template>
            </li>

            <!-- Notifications Page -->
            <li class="nav-item" ngbNavItem="notification">
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-notifications" [routerLink]="['notification']" data-toggle="pill"
                href="#account-vertical-notifications" aria-expanded="false">
                <i data-feather="bell" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Notifications</span>
              </a>
              <ng-template ngbNavContent>
                <app-notification (currentTab)="activeBreadcrumb($event)"></app-notification>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>