<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="card">
            <div class="card-header">
                <h4>Category List</h4>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 mb-50">
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <input type="text" class="form-control" placeholder="Category"
                                    [(ngModel)]="categoryName" />
                            </div>
                            <div class="col-md-4 col-4">
                                <button class="btn btn-primary" rippleEffect (click)="createCategory()">
                                    <i data-feather="plus" class="mr-0 mr-sm-1"></i><span
                                        class="d-none d-sm-inline-block">Category</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <ngx-datatable
                    [rows]="categoryList" [columnMode]="'force'" [rowHeight]="'auto'" [headerHeight]="40"
                    [footerHeight]="50" class="bootstrap core-bootstrap" [scrollbarH]="true">
                    <ngx-datatable-column name="Name" prop="name">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                            let-row="row">
                            <div 
                            title="Double click to edit"
                            (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                                {{value}}
                            </div>
                            <input class="form-control form-control-sm" autofocus

                                (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex + '-name']"
                                type="text" [value]="value" />

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="status">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" class="custom-control-input" [id]="row._id"
                                    [checked]="value == 1" (change)="statusChange($event, row._id )" />
                                <label class="custom-control-label" [for]="row._id"></label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions">
                                <a class="mr-1" (click)="deleteCategory(row._id)" class="text-danger">
                                    <i [data-feather]="'trash'" [size]="18"></i></a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>
        </div>
    </div>
</div>